* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-style: normal;
    color: #dfdfdf;;
}

.scrContainer {
    display: flex;
    width: 100%vw;
    min-height: 100%vh;
    align-items: center;
    justify-content: center;
    background: #121212;
    padding: 30px 0 50px 0;
}

#charContainer {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    box-sizing: border-box;
    justify-content: center;
}

.charBtn {
    display: flex;
    width: 56px;
    height: 56px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    margin: 2px;
    border: 3px solid #fff;
    box-shadow: 0 0 1px 1px #aaa;
    background-color: #fff;
}

.units {
    max-width: 50px;
    max-height: 50px;
    /* border: 3px solid #fff; 
    margin: 2px;
    border-radius: 3px;
    flex: 1 1 60px;
    display: flex;*/
    background: #dde;
    box-sizing: border-box;
    cursor: pointer;

}

#charModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

#charModal.show {
    opacity: 1;
    pointer-events: auto;
}

.modalContainer {
    background-color: #121212;
    width: 500px;
    max-width: 90%;
    height: 90%;
    overflow-y: scroll;
    border-radius: 10px;
    text-align: center;
}

.modalContainer::-webkit-scrollbar {
    display: none;
}

.modalHeader {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: fixed;
    justify-content: center;
    width: 500px;
    max-width: 90%;
    border-radius: 10px;
    background-color: #121212;
}

.name {
    grid-column: 1 / span 2;
    text-align: left;
    padding: 25px 50px 15px;
}

.general, .assets, .story {
    padding: 10px;
}

.general:hover, .assets:hover, .story:hover {
    font-weight: 800;
    background-color: #1a1a1a;
}

#general.selected {
    font-weight: 800;
    background-color: #1a1a1a;
    border-bottom: 2px solid white;
}

#assets.selected {
    font-weight: 800;
    background-color: #1a1a1a;
    border-bottom: 2px solid white;
}

#story.selected {
    font-weight: 800;
    background-color: #1a1a1a;
    border-bottom: 2px solid white;
}

.infoContainer {
    padding: 110px 0 0 0;
}

.close-button {
    padding: 11px 11px 0 0;
    text-align: right;
}

#closeBtn {
    text-align: right;
    font-size: 30px;
    padding: 1px 9px;
    border-radius: 100px;
    color: white;
    background: transparent;
    border: none;
}

#closeBtn:hover {
    background-color: #3f3f3f;
}

.gifArt {
    max-width: 300px;
    padding: 10px 0 30px 0;
}

.gifContainer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fullArt {
    max-width: 300px;
    max-height: 300px;
    padding: 10px 0 30px 0;
}

.fullartContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.squareArt {
    max-width: 100px;
    padding: 10px 0 30px 0;
}

.squareContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.artName {
    padding: 0;
    margin: 0;
    color: #dfdfdf;
    font-family: monospace;
}

/* media queries */

@media(max-width: 970px) {
    #charContainer {
        grid-template-columns: repeat(14, 1fr);
    }
}

@media(max-width: 910px) {
    #charContainer {
        grid-template-columns: repeat(13, 1fr);
    }
}

@media(max-width: 840px) {
    #charContainer {
        grid-template-columns: repeat(12, 1fr);
    }
}

@media(max-width: 790px) {
    #charContainer {
        grid-template-columns: repeat(11, 1fr);
    }
}

@media(max-width: 730px) {
    #charContainer {
        grid-template-columns: repeat(10, 1fr);
    }
}

@media(max-width: 670px) {
    #charContainer {
        grid-template-columns: repeat(9, 1fr);
    }
}

@media(max-width: 610px) {
    #charContainer {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media(max-width: 520px) {
    #charContainer {
        grid-template-columns: repeat(7, 1fr);
    }
}

@media(max-width: 490px) {
    #charContainer {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media(max-width: 410px) {
    #charContainer {
        grid-template-columns: repeat(6, 1fr);
    }
}
@media(max-width: 380px) {
    #charContainer {
        grid-template-columns: repeat(5, 1fr);
    }
}













